.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.stars {
  width: 40%;
}

.answer {
  margin-left: auto;
}

.numbers {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  padding: 15px;
}

.numbers span {
  background: rgba(204, 204, 204, 0.842);
  padding: 6px;
  border-radius: 50%;
  margin: 0 10px;
}

.selected {
  background: rgb(46, 134, 50);
  color: #fff;
}